.screen {
  display: none;
}


#login {
  display: block;
}


#todo:target {
  display: block;
}


#todo:target ~ #login {
  display: none;
}

.main-title {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 450;  
}


#top-login1 {
    position: absolute;
    top: 0px;         
    left: 41%;          
}


#top-login2 {
    position: absolute;
    top: 0px;         
    left: 30%;          
}


label, input {
    font-family: monospace;
    font-weight: 500;
}


::placeholder {
    font-size: 11px;
    font-family: "Quicksand", sans-serif; 
    font-weight: 400; 
    color: #888;
}


button, input[type="button"] {
    font-size: 11px;
    font-weight: bold; 
}

.card {
    background-color: #f0f8ff; 
    position: relative;
    width: 300px;              
    margin: 0 auto;           
    padding: 20px;             
    border-radius: 3px;       
    text-align: center;        
    box-shadow: 0px 0px 15px gray; 
}

.card1{
      background-color: #f0f8ff; 
    position: relative;
    width: 300px;              
    margin: 0 auto;           
    padding: 20px;            
    border-radius: 3px;      
    text-align: center;        
    box-shadow: 0px 0px 15px gray; 
}


.card2{
 background-color: #f0f8ff; 
    width:  470px;              
    margin: 0 auto;           
    padding: 10px;             
    border-radius: 3px;      
    text-align: center;       
    box-shadow: 0px 0px 15px gray; 
}


