.main-title {
    text-align: center;
}

.card {
    background-color: #f0f8ff; /* This is the light blue color (AliceBlue) */
    position: relative;
    width: 300px;              /* Sets a fixed width so it looks like a box */
    margin: 0 auto;            /* This magic trick centers the box horizontally */
    text-align: left;
    padding: 20px;             /* Adds breathing room inside the box */
    border-radius: 3px;       /* Rounds the corners */
    text-align: center;        /* Centers all the text and buttons inside */
    box-shadow: 0px 0px 15px gray; /* Adds that subtle shadow effect */
}

#top-login {
    position: absolute;
    top: 0px;         /* Pulls it UP out of the box */
    left: 41%;          /* Moves it to the middle */
}

body {
   font-family: system-ui, -apple-system, sans-serif;
}